<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="window">
        <label class="label" for="kilometrage">Кілометраж:</label>
        <input class="input" type="text" name="kilometrage" formControlName="kilometrage">
        <label class="label" for="date">Дата:</label>
        <input class="input" type="date" name="date" formControlName="date">
        <hr>
        <p>Роботи що виконувалися:</p>
        <textarea class="textarea-window textarea" name="info" formControlName="info"></textarea>
        <div class="btn-box">
            <input class="input-file" type="file" #file accept="image/*" formControlName="photo" multiple
                (change)="addPhoto($event)">
            <button class="add-photo btn" type="button" (click)="file.click()">Завантажити фото</button>
            <div class="upload-images" *ngFor="let url of urls">
                <img class="window-photo" src="{{url}}" alt="фото не прикріплене">
                <button class="remove-img" type="button" (click)="removeImg(url)">x</button>
            </div>
        </div>
        <button class="btn-save btn" type="submit" [disabled]="form.invalid">Зберегти</button>
        <button class="btn-close btn" (click)="close()">x</button>
    </div>
</form>