.container {
    --orange-color: #fea866;
    --brown-color: #fec192;
    --gray-color: rgb(241, 241, 241);
    background-color: var(--orange-color);
    font-size: 18px;
    height: 100vh;
}

/* ______________________________hidden, show______________________________________ */
.hidden {
    display: none;
}

.show {
    display: block;
}

/* ________________________button, input, textarea, label ___________________ */
.input {
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    height: 2rem;
    outline: none;
    padding-left: 0.8rem;
}

.btn {
    border-radius: 7px;
    border: none;
    padding: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    width: fit-content;
    background-color: var(--gray-color)
}

.btn:disabled {
    background-color: rgb(120, 120, 120)
}

.textarea {
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 1vh;
    font-size: 1.1rem;
}

.label {
    margin: 0 0.5vw 0 2vw;
}

/* _____________________ Header _____________________________________ */
header {
    display: flex;
    align-items: baseline;
    background-color: var(--orange-color);
    padding: 1vh 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 33%;
}

.header-input {
    margin: 1vw;
}

.header-btn {
    height: 2.5rem;
}

.header-btn:focus {
    background-color: gray
}

.add-car {
    display: flex;
    justify-content: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    width: 33%;
}

.contact {
    display: flex;
    justify-content: center;
    width: 33%;
}

/* ________________________Main__________________________________ */

.main {
    background-color: var(--brown-color);
    padding: 1vw;
}

/* ____________________________Search____________________________________ */
.search-container {
    position: relative;
}

.car-show {
    margin: 1vw;
    padding: 1vw;
    background-color: #f7d8c1;
    border-radius: 15px;
}

.title {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.add-info {
    margin: 0 2vw;
}

/* ____________________________add-details-window______________________________________ */

.window {
    width: 92vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 1vw;
    background-color: var(--gray-color);
    padding: 2vw;
}

.textarea-window {
    width: 98%;
    height: 50vh;
}

.btn-close {
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
    border: black solid 1px;
    padding: 2px 5px;
}

.btn-box {
    display: flex;
}

.btn-save {
    margin: 2vh 0 0 40vw;
    background-color: white;
    border: rgb(169, 168, 168) solid 1px;
}

.input-file {
    display: none;
}

.add-photo {
    background-color: white;
    border: rgb(169, 168, 168) solid 1px;
    height: fit-content;
    padding: 0.8rem;
}

.window-photo {
    width: 8vw;
    height: 8vw;
    margin-left: 1vw;
}

/*________________________Watch-car______________________________________ */

.watch-car-window {
    width: 92vw;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 1vw;
    background-color: var(--gray-color);
    padding: 2vw;
}

.watch-car-header {
    display: flex;
    justify-content: space-around;
    margin: 1vw;
    background-color: var(--gray-color);
}

.watch-car-text {
    width: 60vw;
}

.watch-car-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.watch-car-info {
    font-size: 1.5rem;
}

.photo-watch-car {
    width: 20vw;
    height: auto;
    box-shadow: 0 0 15px rgb(92, 92, 92);
}

.watch-car-close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    border: black solid 1px;
    padding: 2px 5px;
}

.details {
    padding: 1vw;
}

.photo-detail {
    margin: 0.5vw;
    width: 5vw;
    height: 5vw;
}

.photo-detail:active {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 92vw;
    height: auto;
}

/* __________________________ add-car___________________________________ */
.add-car-form {
    display: flex;
    flex-direction: column;
}

.name-color-year {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-box {
    margin-top: 3vh;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    border: 1px solid var(--orange-color)
}

.add-photo-text {
    width: 30vw;
    margin: 0 1vw;
}

.add-photo-btn {
    margin-right: 1vw;
    height: 3rem;
}

.add-car-submit {
    margin: 2vh auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 3vh 1vw 0.5vh 1vw;
}

.err {
    color: red;
    text-align: center;
}

.alert-window {
    width: 100vw;
    height: 100vw;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 40vh;
}

.add-car-photo {
    height: 5vw;
    width: auto;
    align-items: center;
}

/* ___________________________ media _____________________________________ */

@media screen and (max-width: 767px) {

    /* ____________________Media header_____________________ */

    header {
        align-items: center
    }

    header>* {
        margin: 1vh;
    }

    .header-btn {
        width: 100%;
    }

    .search {
        width: 35%;
    }

    .add-car {
        width: 32%;
        margin: 0 2%;
        border: none
    }

    .contact {
        width: 30%;
    }

    .main {
        padding: 3%;
    }

    /* __________________________Media add-car___________________________________ */

    .name-color-year {
        flex-direction: column;
    }

    .name-color-year>* {
        display: flex;
        justify-content: space-between;
        margin: 1vh 0;
        align-items: center
    }

    .name-color-year>div>input {
        width: 60%;
    }

    .image-box {
        margin: 0;
        flex-direction: column;
        padding: 2vh;
    }

    .add-photo-text {
        width: 100%;
        margin-bottom: 2vh;
    }

    .add-car-photo {
        height: auto;
        width: 50vw;
        margin-top: 2vh;
    }

    .alert-window {
        height: 100vh;

    }


    /* _____________Media add-details-window_________________ */

    .window {
        width: 93%;
        padding: 3vw;
        flex-direction: column;
    }

        .window > div {
display: flex;
flex-direction: column;
margin: 2vh 0;
        }

    .textarea-window {
        width: 95%;
        height: 40vh;
    }

    .btn-save {
       margin-left: 35vw;
    }

    .window-photo {
        width: 60vw;
        height: 40vw;
        margin: 2vw;
    }

        .upload-images{
           display: flex;
           align-items: center;
        }

    /* __________Media Search___________ */
    .car-show {
        margin: 2vh 0;
        padding: 2vw;
        border-radius:15px;
    }

    .title {
        font-size: 1.3rem;
    }

/* _____________ Media Watch-car__________ */

 .watch-car-window {
    width: 89vw;
}

.watch-car-header {
    flex-direction: column;
}

.watch-car-text {
    width: 80vw;
}

.watch-car-title {
    font-size: 1.8rem;
}

.watch-car-info {
    font-size: 1.2rem;
}

.photo-watch-car {
    width: 100%;
    height: auto;
}

.photo-detail {
    margin: 0.5vw;
    width: 48%;
    height: 30vw;
}

.detail-field-text{
margin: 0;
}

}